/* Styles for board */
.game {
    @include flexbox($direction: column);

    margin-top: 50px;

    height: 100vh;
    min-height: 475px;
}

@media screen and (min-width: 425px) {
    .game {
        min-height: 625px;
    }
}

@media screen and (min-width: 1024px) {
    .game {
        @include flexbox($justify: flex-start, $direction: column);

        margin-top: 100px;

        min-height: 700px;
    }
}

.game__board {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
}

@media screen and (min-width: 425px) {
    .game__board {
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
    }
}

@media screen and (min-width: 768px) {
    .game__board {
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: repeat(3, 150px);
    }
}

.game__board-cell {
    @include flexbox();
    @include size(100%);

    background-color: transparent;
    border: solid 4px $color-light-e;
    border-color: var(--color-e);
}

@media screen and (min-width: 425px) {
    .game__board-cell {
        border-width: 5px;
    }
}

@media screen and (min-width: 768px) {
    .game__board-cell {
        border-width: 6px;
    }
}

.game__board-cell:hover {
    cursor: pointer;
}

.game__board-cell:nth-child(1),
.game__board-cell:nth-child(2),
.game__board-cell:nth-child(3) {
    border-top: none;
}

.game__board-cell:nth-child(7),
.game__board-cell:nth-child(8),
.game__board-cell:nth-child(9) {
    border-bottom: none;
}

.game__board-cell:nth-child(1),
.game__board-cell:nth-child(4),
.game__board-cell:nth-child(7) {
    border-left: none;
}

.game__board-cell:nth-child(3),
.game__board-cell:nth-child(6),
.game__board-cell:nth-child(9) {
    border-right: none;
}

/* Styles for game messages */
.game__messages {
    margin-top: 30px;

    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    color: $color-light-e;
    color: var(--color-e);
}

@media screen and (min-width: 425px) {
    .game__messages {
        margin-top: 40px;

        font-size: 2.2em;
    }
}
