/* Styles for circle */
.game__circle {
    @include size(55px);

    background-color: transparent;
    border: solid 10px $color-light-d;
    border-color: var(--color-d);
    border-radius: 50%;
    animation: showMe 250ms ease-out forwards;
    pointer-events: none;
    transition: border-color 200ms ease-out;
}

@media screen and (min-width: 425px) {
    .game__circle {
        @include size(70px);
    }
}

@media screen and (min-width: 768px) {
    .game__circle {
        @include size(85px);

        border-width: 15px;
    }
}
