/* Styles for cross */
.game__cross {
    @include flexbox();
    position: relative;

    @include size(70%);

    background-color: transparent;
    transform: scale(0);
    animation: showMe 250ms ease-out forwards;
    pointer-events: none;
}

.game__cross::before,
.game__cross::after {
    position: absolute;

    @include size(100%, 15px);

    background-color: $color-light-a;
    background-color: var(--color-a);
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    .game__cross::before,
    .game__cross::after {
        @include size(100%, 20px);
    }
}

.game__cross::before {
    content: "";
    transform: rotate(45deg);
}

.game__cross::after {
    content: "";
    transform: rotate(-45deg);
}
