/* Styles for footer */
.info {
    padding: 40px;

    background-color: $color-light-d;
    background-color: var(--color-d);
    transition: background-color 200ms ease-out,
                color 200ms ease-out;

    font-family: 'Fredoka One', cursive;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: $color-light-b;
    color: var(--color-b);
    text-align: center;
}

@media screen and (min-width: 425px) {
    .info {
        padding: 50px;

        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) {
    .info {
        font-size: 1.4em;
        letter-spacing: 2px;
    }
}
