/* Styles for footer */
.info {
    padding: 40px;

    background-color: $color-d;

    font-family: 'Fredoka One', cursive;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: $color-f;
    text-align: center;
}
