/* Styles for header */
.game-header {
    @include flexbox();

    padding: 20px;
}

@media screen and (min-width: 768px) {
    .game-header {
        @include flexbox($justify: flex-start)
    }
}

.game-header__text {
    margin-right: 15px;

    transition: color 200ms ease-out;

    font-family: 'Fredoka One', cursive;
    font-size: 1.8em;
    letter-spacing: 2px;
    color: $color-light-e;
    color: var(--color-e);
}

@media screen and (min-width: 425px) {
    .game-header__text {
        font-size: 2.2em;
    }
}

.game-header__first-letter {
    transition: color 200ms ease-out;

    color: $color-light-a;
    color: var(--color-a);
}

.game-header__logo {
    width: auto;
    height: auto;
}

.game-header__logo-element {
    fill: $color-light-e;
    fill: var(--color-e);
    transition: fill 200ms ease-out;
}
