/* Styles for options buttons */
.options { 
    margin: 50px 0;

    text-align: center;
}

.options__button {
    @include size(60px);

    margin: 0 5px;

    background-color: $color-light-d;
    background-color: var(--color-d);
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, 0.1);
    outline: none;
    transition: transform 100ms ease-out;
}

@media screen and (min-width: 425px) {
    .options__button {
        @include size(70px);

        border-radius: 12px;
    }
}

.options__button:hover {
    cursor: pointer;
}

.options__button:active {
    transform: scale(0.9);
}

.options__button--change-color {
    background-color: $color-light-c;
    background-color: var(--color-c);
}

.options__icon {
    transition: transform 250ms ease-out;

    color: $color-light-b;
    color: var(--color-b);
}

.options__button:hover .options__icon {
    animation: rotate 0.5s ease-out forwards;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.options__icon--change-color {
    color: $color-light-a;
    color: var(--color-a);
}
